/* Targeting .col-6 */
.col-6 {
  min-width: 100%;
}

/* Targeting .col-sm-4 */
@media (min-width: 576px) {
  .col-sm-4 {
    min-width: 100%;
  }
}

/* Targeting .col-lg-3 */
@media (min-width: 992px) {
  .col-lg-3 {
    min-width: 100%;
  }
}